.wrapper{
    padding: 8px;
}

.tab-title{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    gap: 12px;
}

.tab-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    background: #4e016a;
    border:none;
}

.tab-item.active{
border-color: #000;
background: #a1d600;
color: #fff;
}

.tab-content{
    padding: 20px 10px;
}